<h1>Add a new task</h1>
<form action="/tasks">
  <input type="hidden" name="authenticity_token">
  <label for="title">title</label>
  <input type="text" name="title">
  <label for="details">details</label>
  <input type="text" name="details">
  <input type="submit">
</form>
